<header>
    <nav>
        <a href="/">TravelLingo</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Join TravelLingo</a></li>
        </ul>
    </nav>
</header>