<header>
    <nav>
        <a href="/">TravelLingo</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/:id/edit">Edit User</a></li>
            <li><a href="/register">Sign Up!</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/posts/new">Create New Post</a></li>
        </ul>
    </nav>
</header>