<header>
    <nav>
        <a href="/">TravelLingo</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/edit">Edit User</a></li>
            <li><a href="/users/new">Sign Up!</a></li>
            
        </ul>
    </nav>
</header>