<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= user.name %></h2>
<ul>
    <li><strong>Name:</strong> <%= user.name %></li>
    <li><strong>Country:</strong> <%= user.country %></li>
    <li><strong>Age:</strong> <%= user.age %></li>
</ul>
</body>
</html>