<br>
<div>
    <div>New Post</div>
<div>
    <lable for="location">Location:</lable>
    <input type="text" name="location" value="<%= post.location %>" placeholder="Enter Location">
    <lable for="description">Description:</lable>
    <input type="text" name="description" value="<%= post.description %>" placeholder="Enter A Description">
    <lable for="tags">Tags:</lable>
    <input type="text" name="tags" value="<%= post.tags %>" placeholder="Add Some Tags">
    <lable for="postphoto">Add a Photo:</lable>
    <input type="file" name="postphoto" value="<%= post.postPhoto %>" placeholder="Add a Photo">
</div>
</div>